@model IEnumerable<StudManagement.Model.Student>
<head>
    <title>My App</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    @foreach(var m in Model)
    {

        <div>
            <h2>@m.Id</h2>
            <h2>@m.Name</h2>
        </div>
    }
</body>